.green-section-line {
  width: 40px;
  height: 2px;
  background: $color-green;
  margin-bottom: 3.333em;
}

@media only screen and(max-width:992px) {
  .green-section-line {
    margin-bottom: 2em;
  }
}
