html,
body {
  background: $color-white;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 1366px) {
  .container {
    width: 85%;
  }
}

@media only screen and (max-width: 992px) {
}
