* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  background-origin: inherit;
}

textarea {
  resize: none;
  outline: none;
}

input {
  outline: none;
  border: none;
}
