.contact-container {
  background: url('../img/contact\ background.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  padding-top: 175px;
  height: fit-content;
}

.contact-wrapper {
  background: url('../img/touch\ background.svg');
  background-size: cover;
  background-position: center;
  padding: 2.77em;
  box-shadow: 3px 3px 9px 3px rgba(0, 0, 0, 0.21);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3em;
}

.get-in-touch {
  text-transform: uppercase;
  font-weight: 600;
}

.green-section-line-contact {
  width: 40px;
  height: 2px;
  background: $color-green;
  margin: 0.55em 0 1.38em 0;
}

.get-in-touch-form {
  margin: 1.5em 0;

  input,
  textarea {
    &:focus {
      border: 1px solid $color-green;
    }
  }

  p {
    margin: 0.5em 0 1em 0;
  }
}

.input-name-mail {
  width: 100%;
  display: flex;
  gap: 5%;

  div {
    width: 100%;
  }
}

.get-in-touch-input {
  background: #f8f8f8;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1.38em;
  padding: 1em;
  width: 100%;

  &::placeholder {
    @extend .placeholder;
    padding-top: 1em;
  }

  &:hover,
  &:active {
    border: 1px solid #adadad;
  }
}

.get-in-touch-textarea {
  width: 100%;
  padding: 0.75em;
}

.get-in-touch-btn {
  background: $color-green;
  font-size: 1em;
  padding: 0.777em 0;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  color: $color-white;
  border: none;
  outline: none;
  letter-spacing: calc(1rem * 0.001 * 15);

  &:active,
  &:hover {
    background: #3ba502;
  }
}

.contact-illustrations {
  position: relative;
}

.main-contact-illustration {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact-error-message {
  align-items: center;
  position: relative;
  color: $color-white;
  background: #ba1c17;
  padding: 0.25em;
  border-radius: 10px;
  margin-bottom: 1.5em;
  display: none;
  color: rgb(223, 223, 223);

  p {
    margin: 0;
  }

  &::before {
    content: '';
    position: absolute;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-bottom: 12.5px solid #ba1c17;
    top: 0;
    transform: translate(10px, -95%);
  }
}

@media only screen and(max-width:1200px) {
  .contact-wrapper {
    background: $color-white;
    padding: 2em;
    @include displayFlex(column, center);
    align-items: center;
  }
}

@media only screen and(max-width:992px) {
  .contact-illustrations {
    text-align: center;
  }

  .main-contact-illustration {
    width: 75%;
    height: 20%;
    position: initial;
    transform: none;
  }

  .input-name-mail {
    @include displayFlex(column, center);
  }
  .input-name-mail {
    .get-in-touch-input {
      width: 100%;
    }
  }
}

@media only screen and(max-width:600px) {
  .main-contact-illustration {
    width: 100%;
  }

  .contact-wrapper {
    padding: 1.5em;
  }

  .contact-form {
    p {
      text-align: center;
    }
  }

  .green-section-line-contact {
    margin-left: auto;
    margin-right: auto;
  }
}
