.numbers {
  position: relative;
  background: url('/img/rising\ numbers.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.numbers-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 5em 0;
}

.our-numbers {
  @include displayFlex(column, flex-start);
  align-items: center;
  text-align: center;
  color: $color-white;
}

.number-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: $color-white;
  box-shadow: 3px -3px 4px 3px rgba(0, 0, 0, 0.04);

  img {
    max-height: 55%;
  }
}

.number-title {
  font-weight: 300;
  margin-top: 1em;
}

@media only screen and (max-width: 1500px) {
  .numbers {
    margin-top: 0;
  }

  .number-icon-container {
    width: 175px;
    height: 175px;
  }
}

@media only screen and (max-width: 1200px) {
  .number-icon-container {
    width: 140px;
    height: 140px;
  }

  .number-title {
    margin-top: 0.5em;
  }
}

@media only screen and (max-width: 992px) {
  .number-icon-container {
    width: 120px;
    height: 120px;
  }

  .numbers-container {
    width: 110%;
    @include displayFlex(row, space-between);
    padding: 5em 0;
    margin-left: -5%;
  }
}

@media only screen and (max-width: 600px) {
  .numbers {
    background: url('/img/numbers\ responsive.svg');
    background-size: cover;
    background-position: center;
    margin-top: 2em;
  }

  .numbers-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-row-gap: 2.5em;
    justify-items: center;
    padding: 5em 0;
  }
}
