.partner-companies {
  padding: 3.333em;
}

.partner-companies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  img {
    max-height: 165px;
  }
}

@media only screen and(max-width:1200px) {
  .partner-companies-container {
    img {
      max-height: 125px;
    }
  }
}

@media only screen and(max-width:992px) {
  .partner-companies {
    padding: 3.333em 0 0 0;
    img {
      max-height: 90px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .partner-companies {
    img {
      max-height: 65px;
    }
  }
}
