.partner-companies {
  padding: 3.333em;
}

.partner-companies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  img {
    max-height: 80%;
  }
}

@media only screen and(max-width:992px) {
  .partner-companies {
    padding: 3.333em 0 0 0;
    img {
      max-height: 60%;
    }
  }
}

@media only screen and(max-width:600px) {
  .partner-companies {
    padding: 3.333em 0 0 0;
    img {
      max-height: 45%;
    }
  }
}
