.services-header {
  background: url('../img/services\ background.svg') no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 110vh;
}

.services-hero-text {
  margin-top: 200px;
  @include displayFlex(column, center);
  align-items: center;
}

.services-hero-title {
  text-align: center;
  color: $color-white;
  &:first-of-type {
    margin-bottom: 0.5em;
  }
}

.services-text-underline {
  text-decoration: underline;
  text-decoration-color: $color-green;
}

.services-list-container {
  margin-top: 2.5em;
  padding-bottom: 0.5em;
  @include displayFlex(row, center);
  color: $color-white;
  list-style: none;

  li {
    border-bottom: 2px solid transparent;
    &:hover,
    &:active {
      border-bottom: 2px solid $color-green;
    }
  }

  p {
    margin: 0 1em;
  }
}

@media only screen and(max-width:992px) {
  .services-list-container {
    display: none;
  }
}

@media only screen and(min-height:1080px) {
  .services-hero-title {
    margin-top: 12.5vh;
    &:last-of-type {
      margin-top: 0;
    }
  }
}

@media only screen and(min-height:1500px) {
  .services-hero-title {
    margin-top: 20vh;
    &:last-of-type {
      margin-top: 0;
    }
  }
}

@media only screen and(min-height:2000px) {
  .services-hero-title {
    margin-top: 35vh;
    &:last-of-type {
      margin-top: 0;
    }
  }
}

@media only screen and(max-height:700px) {
  .services-hero-title {
    margin-top: -10vh;
    &:last-of-type {
      margin-top: 0;
    }
  }
}

@media only screen and(max-height:600px) {
  .services-hero-title {
    margin-top: -20vh;
    &:last-of-type {
      margin-top: 0;
    }
  }
}

@media only screen and(max-height:515px) {
  .services-hero-title {
    margin-top: -30vh;
    &:last-of-type {
      margin-top: 0;
    }
  }
}
