.services-our-services {
  padding: 3.888em 0 0 0;
}

.services-service-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  img {
    justify-self: flex-end;
  }
}

.services-service-wrapper-reverse {
  direction: rtl;
}

.services-service {
  margin-bottom: 5em;
}

.service-illustration {
  width: 80%;
}

@media only screen and(max-width:992px) {
  .services-service-wrapper {
    @include displayFlex(column, center);
    align-items: center;
    text-align: center;
    margin-top: 0;
  }

  .service-illustration {
    margin-top: 3em;
  }

  .service-illustration {
    width: 60%;
  }
}

@media only screen and(max-width:600px) {
  .service-illustration {
    width: 90%;
  }
}
