@mixin displayFlex($flex-direction, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}

@mixin transitionEase {
  transition: all 0.5s ease-in-out;
}
